[client]
socket=/var/run/mysqld/mysqld.sock

[mysqld]
open_files_limit = 5000
event_scheduler = ON
skip-external-locking   
skip_name_resolve       
character-set-server   = utf8
default-storage-engine = innodb
datadir         = /var/lib/mysql/data
tmpdir          = /var/lib/mysql/tmp
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3333
bind-address    = 0.0.0.0

max_allowed_packet      = 128M
thread_stack            = 192K
sort_buffer_size        = 4M    
read_buffer_size        = 4M
myisam_sort_buffer_size = 64M
thread_cache_size       = 64
max_connections         = 4096 
back_log                = 1000
tmp_table_size          = 1028M
max_heap_table_size     = 1028M
query_cache_type         = 1
query_cache_limit        = 8388608
query_cache_min_res_unit = 512
query_cache_size         = 512M
explicit_defaults_for_timestamp = 1
general_log             = OFF
general_log_file        = /var/log/mysql/mysql.log
log_error               = /var/log/mysql/error.log
slow_query_log          = ON
slow_query_log_file     = /var/log/mysql/slow.log
long_query_time         = 2

innodb_file_per_table
innodb_file_format              = barracuda
innodb_buffer_pool_instances    = 4
innodb_buffer_pool_size         = 3G
innodb_log_buffer_size          = 8M
innodb_flush_log_at_trx_commit  = 1
innodb_open_files               = 1024
innodb-change-buffering         = all
innodb_read_io_threads          = 16
innodb_write_io_threads         = 16
innodb_lock_wait_timeout        = 120
innodb_log_file_size            = 128M
innodb_io_capacity              = 1000

master-info-file        = /var/lib/mysql/master.info

log_bin                 = /var/lib/mysql/binlog/mysql-bin.log
binlog_checksum = NONE
enforce_gtid_consistency = ON
gtid_mode               = ON
master_info_repository  = TABLE
relay_log_info_repository   = TABLE
transaction_write_set_extraction = XXHASH64
log_slave_updates=ON
binlog_format=ROW
relay_log               = /var/lib/mysql/relaylog/relay-bin.log
relay_log_info_file     = /var/lib/mysql/relay-log.info
relay_log_space_limit   = 4G
max_relay_log_size      = 20M
#super_read_only = 1
auto_increment_increment = 3
auto_increment_offset = 1

loose-group_replication_ip_whitelist = "33.33.33.0/24"
#loose-group_replication_local_address = "127.0.0.1:13306"
#loose-group_replication_bootstrap_group = false
#loose-group_replication_auto_increment_increment = 3
